*{
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  position: relative;
  background-color: #EAEAEA;
}

.question{
  height: 100px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
  
}

.skip{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.skin_time{
  margin-left: 10px;
  height:  30px;
  width: 30px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #368fcf;
  color: white;
}

.btn{
  width: 50px;
  height: 30px;
  color: white;
  background-color: #45A3E5;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #368fcf;
}
.answer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.selectAnswer{
  border: 3px solid #0CE508;
}
